---
import Layout from '../../components/Layout.astro'
---

<Layout title="04-01-2026 - Lowres">
  <div id="canvas-wrapper"></div>
  <canvas></canvas>
</Layout>

<script>
  import P5 from 'p5'
  import jsfeat from '../../js/jsfeat'

  document.addEventListener('DOMContentLoaded', () => {
    const canvasWrapper =
      document.querySelector<HTMLInputElement>('#canvas-wrapper')
    if (!canvasWrapper) return

    function sketch(p: P5) {
      let video: P5.MediaElement
      let img_u8
      const options = {
        blur_radius: 8,
        low_threshold: 20,
        high_threshold: 50,
      }

      p.setup = () => {
        p.createCanvas(480, 640)
        video = p.createCapture(p.VIDEO)
        video.size(480, 640)
        video.hide()

        img_u8 = new jsfeat.matrix_t(480, 640, jsfeat.U8C1_t)
      }

      p.draw = () => {
        video.loadPixels()

        if (video.pixels.length > 0) {
          jsfeat.imgproc.grayscale(video.pixels, 480, 640, img_u8)

          let r = options.blur_radius
          let kernel_size = (r + 1) << 1
          jsfeat.imgproc.gaussian_blur(img_u8, img_u8, kernel_size, 0)

          jsfeat.imgproc.canny(
            img_u8,
            img_u8,
            options.low_threshold,
            options.high_threshold,
          )

          video.updatePixels()
          let d = p.pixelDensity()
          p.loadPixels()
          for (let y = 0; y < p.height; y++) {
            for (let x = 0; x < p.width; x++) {
              let val = img_u8.data[x + y * p.width]
              for (let i = 0; i < d; i++) {
                for (let j = 0; j < d; j++) {
                  let idx = 4 * ((y * d + j) * p.width * d + (x * d + i))
                  p.pixels[idx] = val
                  p.pixels[idx + 1] = val
                  p.pixels[idx + 2] = val
                  p.pixels[idx + 3] = 255
                }
              }
            }
          }
          p.updatePixels()
        }
      }
    }

    new P5(sketch, canvasWrapper)
  })
</script>

<style is:global>
  #canvas-wrapper {
    display: inline-block;
    border: 1px solid black;
  }

  #canvas-wrapper > canvas {
    display: block;
  }
</style>
